.AnswerBlock {
  margin: auto;
  color: rgb(0, 0, 0);
  align-content: center;
}

.Wrong {
  font-size: 2em;
  font-weight: 800;
  color: #fee3ca;
  text-shadow: 3px 3px 3px #ff0000;
  text-align: center;
  max-width: 80%;
  padding-left: 15%;
  padding-right: 15%;
}

.Correct {
  font-size: 2em;
  font-weight: 800;
  color: #fee3ca;
  text-shadow: 2px 2px 2px #00972d;
  text-align: center;
  max-width: 80%;
  padding-left: 15%;
  padding-right: 15%;
}

.Answer {
  font-size: 1em;
  font-weight: 800;
  color: #fee3ca;
  text-shadow: 2px 2px 2px #000000;
  text-align: center;
}

.Body {
  font-size: 1.5em;
  font-weight: 800;
  color: #000000;
  text-shadow: 1px 1px 1px #e09c67;
  text-align: center;
  max-width: 80%;
  padding-left: 15%;
  padding-right: 15%;
}
