.Question {
  margin: auto;
  font-size: 130%;
  color: rgb(0, 0, 0);
  align-content: center;
  background-image: url(../images/question-board.png);
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 65px;
  padding-bottom: 85px;
  padding-left: 15%;
  padding-right: 15%;
  max-width: 50%;
}

.blankSpace {
  margin: 0;
  padding-top: 80px;
}
