.Question {
  margin: auto;
  font-size: 170%;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 1px #e09c67;
  align-content: center;
  background-image: url(../images/question-board.png);
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 65px;
  padding-bottom: 85px;
  padding-left: 15%;
  padding-right: 15%;
  max-width: 50%;
}

.BlankSpace {
  margin: 0;
  padding-top: 80px;
}

.ErrorMessage {
  font-size: 2em;
  font-weight: 800;
  color: #fee3ca;
  text-shadow: 3px 3px 3px #ff0000;
  text-align: center;
  align-content: center;
  margin: 0;
  height: 100vh;
  max-width: 80%;
  padding-left: 10%;
}

.FinishButton {
  background: url(../images/Next1.png) no-repeat;
  background-size: cover;
  cursor: pointer;
  border: none;
  width: 300px;
  height: 100px;
}

.FinishButton:active {
  background: url(../images/Next2.png) no-repeat;
  background-size: cover;
  border: none;
  width: 300px;
  height: 100px;
}

.ReviewButton {
  margin-top: 10px;
  background: url(../images/Review1.png) no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border: none;
  width: 450px;
  height: 160px;
  margin-top: 100px;
}

.ReviewButton:active {
  margin-top: 10px;
  background: url(../images/Review2.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-position: center;
  border: none;
  width: 450px;
  height: 160px;
  margin-top: 100px;
}

.FinalButton {
  margin-top: 10px;
  background: url(../images/Return1.png) no-repeat;
  background-size: cover;
  cursor: pointer;
  border: none;
  width: 450px;
  height: 160px;
}

.FinalButton:active {
  margin-top: 10px;
  background: url(../images/Return2.png) no-repeat;
  background-size: cover;
  border: none;
  width: 450px;
  height: 160px;
}
